/*Local Font Integrate
LM(local Machine)
*/
/*body{
	font-family: Century;
	font-family: 'Time New Roman'
}
*/
/*.p1{
	font-family: Century;
}*/

/*.p2{
	font-family: 'Times New Roman';
}*/













/*.p1{*/
	/*color :skyblue;*/
	/*text-transform: uppercase;
	text-transform: lowercase;
	text-transform: capitalize;*/
/*
	font-variant: small-caps;*/

/*	text-indent: 50px;

	font-style: italic;
	font-weight: bold;
*/
/*    font-weight: 600;*/
    /*100-900 hti pyy loh ya*/



}

a{
	text-decoration:none;
}

